<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.cedoo.manage.clazz">
		
	<update id="updateDelTimeWithID"  parameterType="int">
		UPDATE t_link
		SET t_link.DT_DEL_LINK_TIME = now()
		WHERE t_link.N_E_NODE_ID = #{id}
	</update>
</mapper>